@media (prefers-color-scheme: dark) {
    body {
        background-color: #333;
        color: #ccc;
    }
    .book:nth-child(even) {
        background-color: #555;
    }
    .author:nth-child(even) {
        background-color: #555;
    }
    .sequence:nth-child(even) {
        background-color: #555;
    }
    a {
        color: #4c4;
    }
    .parlink {
        color: #4c4;
    }
    a:visited {
        color: #cc0;
    }
    input {
        background-color: #333;
        color: #ccc;
        border: 1px solid #999;
    }
    img {
        background-color: #999;
    }
}

@media only screen and (max-width: 600px) {
    p:hover .parlink-end {
        position: relative;
        display: inline;
        left: 10px;
    }
}

@media only screen and (min-width: 600px) {
    p {
        padding-left: 60px;
    }
    .parlink {
        position: absolute;
        transform: translateX(-40px);
    }
    p:hover .parlink-start {
        display: inline;
    }
}
